* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

h1 {
    font-family: "Cinzel Decorative", serif;
    color: #d49292;
    text-align: center;
    margin-bottom: 50px;
}
/* Media queries de base */
@media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }
    h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 480px) {
    body {
        padding: 5px;
    }
    h1 {
        font-size: 20px;
    }
}
.image-responsive {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
