body {
  font-family: 'Anton', sans-serif;
  background-color: #1a1a1a;
  text-align: center;
}

h1 {
  color: #f39c12; /* orange */
}

h2 {
  color: #e67e22; /* orange clair */
}

p {
  color: #ecf0f1; /* gris clair */
}